<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">{{ title }}</h2>
        <ol class="breadcrumb-5">
            <div class="breadcrumb flat">
                <a href="{% url 'home:index' %}" class="active">Home</a>
                <a href="{{ route }}" class="{% if formPage %}active {% endif %}">{{ title }}</a>
                {% if formPage %}
                    <a href="">{% if showPage %} Show {% else %} Create {% endif %} {{ title }}</a>
                {% endif %}
            </div>
        </ol>
    </div>
    {% if processRoute %}

        <div class="d-flex">
            <div class="justify-content-center">
                <a class="btn btn-warning active" href="{{ processRoute }}"> <i class="fa fa-recycle"></i>
                    Process {{ title }}</a>
            </div>
        </div>
    {% endif %}
    {% if showProcessButton %}

        <div class="d-flex">
            <div class="justify-content-center">
                <a target="_blank" class="" href="{{ route }}">Redirect to {{ title }}</a>
            </div>
        </div>
    {% endif %}
    {% if not formPage %}
        <div class="d-flex">
            <div class="justify-content-center">
                {% if title == 'Profile' %}
                    <button class="float-right btn btn-sm btn-danger ml-2" onclick="window.location='{% url 'home:extract.data'  %}'"><i
                            class="fa fa-recycle"></i> Extract Default Data
                    </button>
                {% endif %}
                <button class="float-right btn btn-sm btn-success ml-2" onclick="window.location='create/'"><i
                        class="fa fa-plus"></i> Add New
                </button>
                {% if excelUpload %}
                    {% include 'backend/samanyaGyan/question/excelUpload.html' %}
                {% endif %}
                {% if excelUploadLokSewa %}
                    {% include 'backend/question/excelUpload.html' %}
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>