<script>
    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 5000,
        timerProgressBar: true,
        didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
    })
    
    
    {% if messages %}
        {% for message in messages %}
            Toast.fire({
                icon: 'success',
                title: '{{ message }}'
            })
        {% endfor %}

    {% endif %}


    {% if form.errors %}
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                Toast.fire({
                icon: 'error',
                title: '{{ error }}'
            })
            {% endfor %}
        {% endfor %}
    {% endif %}
</script>