{% load static %}

<!-- Sidemenu -->
<div class="main-sidebar main-sidebar-sticky side-menu">
    <div class="sidemenu-logo">
        <a class="main-logo" href="{% url 'home:index' %}">
            <img src="{% static 'backend/assets/img/logo-big-lok-sewa.png' %}" class="header-brand-img desktop-logo"
                 alt="logo" width="100" height="40">
            <img src="{% static 'backend/assets/img/logo-small-lok-sewa.png' %}" class="header-brand-img icon-logo"
                 alt="logo" width="100" height="40">
            <img src="{% static 'backend/assets/img/logo-big-lok-sewa.png' %}"
                 class="header-brand-img desktop-logo theme-logo" alt="logo" width="100" height="40">
            <img src="{% static 'backend/assets/img/logo-big-lok-sewa.png' %}"
                 class="header-brand-img icon-logo theme-logo" alt="logo" width="100" height="40">
        </a>
    </div>
    <div class="main-sidebar-body">
        <ul class="nav">


            <li class="nav-item">
                <a class="nav-link" href="{% url 'home:index' %}">
                    <span class="shape1"></span>
                    <span class="shape2"></span>
                    <i class='sidemenu-icon ti-home'></i>
                    <span class="sidemenu-label">Dashboard</span></a>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile:index' %}">
                    <span class="shape1"></span>
                    <span class="shape2"></span>
                    <i class='sidemenu-icon ti-user'></i>
                    <span class="sidemenu-label">Profile</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'resume:education.index' %}">
                    <span class="shape1"></span>
                    <span class="shape2"></span>
                    <i class='sidemenu-icon fa fa-school'></i>
                    <span class="sidemenu-label">Education</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'resume:skill.index' %}">
                    <span class="shape1"></span>
                    <span class="shape2"></span>
                    <i class='sidemenu-icon fa fa-briefcase'></i>
                    <span class="sidemenu-label">Skill</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'resume:key-skill.index' %}">
                    <span class="shape1"></span>
                    <span class="shape2"></span>
                    <i class='sidemenu-icon fa fa-id-badge'></i>
                    <span class="sidemenu-label">Key Skill</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'resume:experience.index' %}">
                    <span class="shape1"></span>
                    <span class="shape2"></span>
                    <i class='sidemenu-icon fa  fa-laptop-code'></i>
                    <span class="sidemenu-label">Experience</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'resume:project.index' %}">
                    <span class="shape1"></span>
                    <span class="shape2"></span>
                    <i class='sidemenu-icon fa  fa-suitcase'></i>
                    <span class="sidemenu-label">Projects</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user.index' %}">
                    <span class="shape1"></span>
                    <span class="shape2"></span>
                    <i class='sidemenu-icon ti-settings'></i>
                    <span class="sidemenu-label">Config</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home:link.index' %}">
                    <span class="shape1"></span>
                    <span class="shape2"></span>
                    <i class='sidemenu-icon fas fa-link'></i>
                    <span class="sidemenu-label">Links</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user.index' %}">
                    <span class="shape1"></span>
                    <span class="shape2"></span>
                    <i class='sidemenu-icon fa fa-users-cog'></i>
                    <span class="sidemenu-label">Admin</span></a>
            </li>


        </ul>
    </div>
</div>
<!-- End Sidemenu -->
