{% extends 'backend/layouts/master.html' %}
{% load static %}


{% block breadcrumb %}
    {% url 'contactUs:index' as the_url %}
    {% include 'backend/layouts/breadcrumb.html' with title="Contact Us" formPage=True showPage=True route=the_url %}
{% endblock %}


{% block content %}
    <div class="content-display clearfix">
        {% include 'backend/layouts/partials/search.html' %}
        <div class="panel">
            <div class="panel-box">
                <div class="table-responsive mt-3">
                    <div class="card custom-card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered" id="forDataTable">
                                    <caption></caption>

                                    <thead>
                                    <tr>
                                        <th scope="col">S.N</th>
                                        <th scope="col">name</th>
                                        <th scope="col">email</th>
                                        <th scope="col">phone</th>
                                        <th scope="col">message</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for apikey in object_list %}
                                        <tr>
                                            <td>{{ forloop.counter }} </td>
                                            <td>{{ apikey.name }} </td>
                                            <td>{{ apikey.email }} </td>
                                            <td>{{ apikey.phone }} </td>
                                            <td>{{ apikey.message }} </td>


                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- panel -->
    </div>
{% endblock %}
