<div class="contact-page">

    <!--( a ) Contact Page Fixed Image Portion -->

    <div class="image-container col-md-5 col-sm-12">
        <div class="mask">
        </div>
        <div class="main-heading">
            <h1>CO<span>NT</span>ACT</h1>
        </div>
    </div>

    <!--( b ) Contact Page Content -->


    <div class="content-container col-md-7 col-sm-12">


        <div>
            <h2 class="small-heading">SAY HELLO!</h2>
            <h5 class="text-center text-success"></h5>

            <div class="contact-form col-sm-11 clearfix">
                <form id="contactForm">
                    <fieldset>
                        <div class="col-sm-12">
                            <input id="name" name="name" placeholder="Your Name*" type="text"
                                   value="" required>
                        </div>

                        <div class="col-sm-12">
                            <input id="email" name="email" placeholder="Your Email*" type="email"
                                   value="" required>
                        </div>


                        <div class="col-xs-12">
                            <textarea cols="5" id="message" name="message"
                                      placeholder="Your Message....*" required></textarea>
                        </div>

                        <div class="col-xs-12 ml-auto">
                            <button class="pull-right submitButton" style="background-color: #0ab2e6; color: white"
                                    type="submit">submit
                            </button>
                        </div>

                        <div class="error col-xs-12">
                            <h3></h3>
                        </div>
                    </fieldset>
                </form>


                <!-- Contact Form [ END ] -->

            </div>
        </div>

        <div class="ccccc">
            <h2 class="small-heading">MY LOCATION</h2>
        </div>

        <!--( B ) Google Map -->

        <p>
            <iframe src="{{ profile.gmap_link }}"
                    width="1050" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
        </p>

        <!--( C ) Contact Details -->

        <div class="contact-details clearfix">
            <h2 class="ccccc small-heading">CONTACT DETAILS</h2>
            <div class="contact col-sm-4">
                <p>
                    <i class="fa fa-map-marker"></i><br>
                    {{ profile.location }}
                </p>
            </div>

            <!-- Single Contact Details Item [ END ] -->

            <div class="contact col-sm-4">
                <p>
                    <i class="fa fa-phone"></i><br>
                    {{ profile.phone1 }}
                </p>
            </div>

            <!-- Single Contact Details Item [ END ] -->

            <div class="contact col-sm-4">
                <p>
                    <i class="fa fa-fax"></i><br>
                    {{ profile.phone2 }}
                </p>
            </div>

            <div class="contact col-sm-4">
                <p>
                    <i class="fa fa-envelope"></i><br>
                    {{ profile.email1 }}
                </p>
            </div>

            <div class="contact col-sm-4">
                <p>
                    <i class="fa fa-envelope"></i><br>
                    {{ profile.email2 }}
                </p>
            </div>

            <!-- Single Contact Details Item [ END ] -->

            <div class="contact col-sm-4">
                <p>
                    <i class="fa fa-globe"></i><br>
                    {{ profile.website_link }}
                </p>
            </div>

            <!-- Single Contact Details Item [ END ] -->

            <div class="col-xs-12 social-media">
                <a href="{{ profile.facebook_link }}" class="fa fa-facebook" data-toggle="tooltip"
               title="Facebook"
               onclick="window.open('{{ profile.facebook_link }}','popup','width=800,height=600'); return false;"></a>
            <a href="{{ profile.linkedin_link }}" class="fa fa-linkedin" data-toggle="tooltip"
               title="Linkedin"
               onclick="window.open('{{ profile.linkedin_link }}','popup','width=800,height=600'); return false;"></a>
            <a href="{{ profile.instagram_link }}" class="fa fa-instagram" data-toggle="tooltip"
               title="Instagram"
               onclick="window.open('{{ profile.instagram_link }}','popup','width=800,height=600'); return false;"></a>
            <a href="{{ profile.twitter_link }}" class="fa fa-twitter" data-toggle="tooltip" title="Twitter"
               onclick="window.open('{{ profile.twitter_link }}','popup','width=800,height=600'); return false;"></a>
            <a href="{{ profile.tor_link }}" class="fa fa-globe"
               data-toggle="tooltip" title="Tor Browser"
               onclick="window.open('{{ profile.tor_link }}','popup','width=800,height=600'); return false;"></a>


            </div>

        </div>


        {% include 'frontend/layouts/footer.html' %}
    </div>
</div>
