{% load static %}

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>{{ profile.name|title }} | Portfolio Website</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/x-icon" href="">

<link rel="stylesheet" href="{% static 'frontend/assets/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'frontend/assets/css/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'frontend/assets/css/fontawesome.min.css' %}">
<link rel="stylesheet" href="{% static 'frontend/assets/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'frontend/assets/css/odometer.min.css' %}">
<link rel="stylesheet" href="{% static 'frontend/assets/css/jquery.modal.min.css' %}">
<link rel="stylesheet" href="{% static 'frontend/assets/css/meanmenu.css' %}">
<link rel="stylesheet" href="{% static 'frontend/assets/css/swipper.css' %}">
<link rel="stylesheet" href="{% static 'frontend/assets/css/main.css' %}">