{% load static %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no;">
<title>Bikash Subedi | Portfolio Website</title>

<!--( a ) Fav Icon -->

<link rel="icon" href="">

<!--( b ) CSS Stylesheets -->

<!-- Bootstrap -->
<link type="text/css" rel="stylesheet" href="{% static 'frontend/library/bootstrap/css/bootstrap.min.css' %}">

<!-- Library -->
<link type="text/css" rel="stylesheet" href="{% static 'frontend/library/font-awesome/css/font-awesome.min.css' %}">

<!-- STYLE Sheets -->
<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/custom.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'frontend/css/style.blue.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'frontend/css/responsive.css' %}">
