{% load static %}
<div class="col-xxl-3 col-xl-3">
    <div class="bostami-parsonal-info-area">
        <div class="bostami-parsonal-info-wrap">

            <!-- img -->
            <div class="bostami-parsonal-info-img">
                <img src="{% static 'frontend/assets/img/parsonal-info/parson-img-1.png' %}" alt="avatar">
            </div>

            <!-- name -->
            <h4 class="bostami-parsonal-info-name">
                <a href="#">{{ profile.name|title }}</a>
            </h4>
            {% if profile.job_title %}
                <span class="bostami-parsonal-info-bio mb-15">{{ profile.job_title|title }}</span>
            {% endif %}

            <!-- socail link -->
            <ul class="bostami-parsonal-info-social-link mb-30">
                {% if profile.facebook_link %}
                    <li>
                        <a href="{{ profile.facebook_link }}" class="facebook">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                {% endif %}
                {% if profile.twitter_link %}
                    <li>
                        <a href="{{ profile.twitter_link }}" class="twitter">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                {% endif %}
                {% if profile.instagram_link %}
                    <li>
                        <a href="{{ profile.instagram_link }}" class="instagram">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                {% endif %}
                {% if profile.linkedin_link %}
                    <li>
                        <a href="{{ profile.linkedin_link }}" class="linkedin">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>

            <!-- contact -->
            <div class="bostami-parsonal-info-contact mb-30">
                {% if profile.phone1 %}
                    <div class="bostami-parsonal-info-contact-item phone">
                        <div class="icon">
                            <i class="fa-solid fa-mobile-screen-button"></i>
                        </div>
                        <div class="text">
                            <span>Phone</span>
                            <p><a href="tel:{{ profile.phone1 }}">{{ profile.phone1 }}</a></p>
                            {% if profile.phone2 %}
                                <p><a href="tel:{{ profile.phone2 }}">{{ profile.phone2 }}</a></p>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                {% if profile.email1 %}
                    <div class="bostami-parsonal-info-contact-item email">
                        <div class="icon">
                            <i class="fa-regular fa-envelope-open-text"></i>
                        </div>
                        <div class="text">
                            <span>Email</span>
                            <p><a href="mailto:{{ profile.email1|lower }}">{{ profile.email1|lower }}</a></p>
                            {% if profile.email2 %}
                                <p><a href="mailto:{{ profile.email2|lower }}">{{ profile.email2|lower }}</a></p>
                            {% endif %}

                        </div>
                    </div>
                {% endif %}

                {% if profile.location %}
                    <div class="bostami-parsonal-info-contact-item location">
                        <div class="icon">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                        <div class="text">
                            <span>Location</span>
                            <p>{{ profile.location }}</p>
                        </div>
                    </div>

                {% endif %}
            </div>

            


            {% if profile.resume %}
                <div class="bostami-parsonal-info-btn">
                    <a class="btn-1" href="{{ profile.resume.url }}" download>
                    <span class="icon">
                        <i class="fa-regular fa-download"></i>
                    </span>
                        download cv
                    </a>
                </div>
            {% endif %}

        </div>
    </div>
</div>