<div class="introduction">
    <img alt="" src="">
    <div class="mask">
    </div>
    <div class="intro-content">

        <h1>HELLO,<br>
            I'M "<span>Bikash</span> Subedi</h1>
        <h2>WELCOME !</h2><br><br><br><br><br><br><br><br><br><br><br>

          <p class="social-media hidden-xs">
            <a href="#" class="fa fa-facebook" data-toggle="tooltip"
               title="Facebook"
               onclick="window.open('#','popup','width=600,height=600'); return false;"></a>
            <a href="#" class="fa fa-linkedin" data-toggle="tooltip"
               title="Linkedin"
               onclick="window.open('#','popup','width=600,height=600'); return false;"></a>
            <a href="#" class="fa fa-instagram" data-toggle="tooltip"
               title="Instagram"
               onclick="window.open('#','popup','width=600,height=600'); return false;"></a>
            <a href="#" class="fa fa-twitter" data-toggle="tooltip" title="Twitter"
               onclick="window.open('#','popup','width=600,height=600'); return false;"></a>
            <a href="#" class="fa fa-flickr" data-toggle="tooltip"
               title="Flicker"
               onclick="window.open('#','popup','width=600,height=600'); return false;"></a>
            <a href="#" class="fa fa-globe"
               data-toggle="tooltip" title="Tor Browser"
               onclick="window.open('#','popup','width=600,height=600'); return false;"></a>
        </p>

    </div>
</div>