{% load static %}
<!doctype html>
<html lang="en" class="no-js">

<head>
    {% include 'frontend/layouts/header.html' %}
</head>
<body>

<div class="page-wrapper home-1" data-background="{% static 'frontend/assets/img/bg/bg-1.jpg' %}">

    {% include 'frontend/layouts/loader.html' %}

    {% include 'frontend/layouts/navigationMenu.html' %}

    <div class="container z-index-3">
        <div class="row">
            {% include 'frontend/layouts/introduction.html' %}

            {% block content %}
            {% endblock %}


            {% include 'frontend/layouts/sideMenus.html' %}
        </div>
    </div>


{% include 'frontend/layouts/footer.html' %}


</div>
{% include 'frontend/layouts/scripts.html' %}
</body>

</html>