{% load static %}
<div class="menu">
    <div class="profile-btn">
        <img alt="" src="{% static 'frontend/images/menu/profile.png' %}">
        <div class="mask">
        </div>
        <div class="heading col-xs-11 col-xs-offset-1">
            <div class="col-xs-2 hidden-xs">
                <i class="fa fa-user"></i>
            </div>
            <div class="col-sm-10">
                <h2>PR<span>OF</span>ILE</h2>
                <h3>Some words about me.</h3>
            </div>
        </div>
    </div>

    <!-- Single Navigation Menu Button [ END ]  -->

    <div class="resume-btn">
        <img alt="" src="{% static 'frontend/images/menu/profile2.png' %}">
        <div class="mask">
        </div>
        <div class="heading col-xs-11 col-xs-offset-1">
            <div class="col-xs-2 hidden-xs">
                <i class="fa fa-graduation-cap"></i>
            </div>
            <div class="col-sm-10">
                <h2>RE<span>SU</span>ME</h2>
                <h3>Something about my experience and skills.</h3>
            </div>
        </div>
    </div>

    <!-- Single Navigation Menu Button [ END ]  -->

    <div class="portfolio-btn">
        <img alt="" src="{% static 'frontend/images/menu/profile3.png' %}">
        <div class="mask">
        </div>
        <div class="heading col-xs-11 col-xs-offset-1">
            <div class="col-xs-2 hidden-xs">
                <i class="fa fa-briefcase"></i>
            </div>
            <div class="col-sm-10">
                <h2>POR<span>TF</span>OLIO</h2>
                <h3>Have a spoon of my work.</h3>
            </div>
        </div>
    </div>

    <!-- Single Navigation Menu Button [ END ]  -->

    <div class="contact-btn">
        <img alt="" src="{% static 'frontend/images/menu/profile4.png' %}">
        <div class="mask">
        </div>
        <div class="heading col-xs-11 col-xs-offset-1">
            <div class="col-xs-2 hidden-xs">
                <i class="fa fa-envelope-o"></i>
            </div>
            <div class="col-sm-10">
                <h2>CO<span>NT</span>ACT</h2>
                <h3>Stay With Me.</h3>
            </div>
        </div>
    </div>

    <!-- Single Navigation Menu Button [ END ]  -->

</div>