{% load static %}
<div class="profile-page">

    <!--( a ) Profile Page Fixed Image Portion -->

    <div class="image-container col-md-5 col-sm-12">
        <div class="mask">
        </div>
        <div class="main-heading">
            <h1>PR<span>OF</span>ILE</h1>
        </div>
    </div>

    <!--( b ) Profile Page Content -->

    <div class="content-container col-md-7 col-sm-12">

        <!--( A ) Story of Glory -->

        <div class="story clearfix">
            <h2 class="small-heading">SOMETHING ABOUT ME</h2>
            <div class="col-lg-11 col-lg-offset-1">
                <div class="story-content clearfix">
                    <div class="">
                        <a class="thumbnail" style="border: none; background: black; padding: 0px;" href="#"><img
                                src="{% static 'frontend/images/dp.jpg' %}" width="205px" height="66px"/>
                            <span> <img src="{% static 'frontend/bikash_shield.png' %}"/><br/>Name: Bikash Subedi  <br>Phone: 977 9869286303 <br>Email: biikashsubedi@protonmail.com <br>Gender: Male <br>Age: 24 <br>Address: KTM</span>
                        </a>
                    </div>

                    <!--                         <img alt="" src="images/dp.jpg" class="col-xs-offset-1 col-sm-offset-0 col-sm-4 col-xs-10"> -->
                    <div class="col-sm-8 col-xs-12">
                        <h3>ALWAYS FOCUSED ON YOUR DREAM</h3><br>

                        Intro here


                        <a href="tel:9869286303" class="hire-me">Call Me</a>
                        <a href="#" download>Download Resume</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="services-container clearfix">
            <h2 class="small-heading">WHAT CAN I DO FOR YOU?</h2>

            @foreach($skills as $skill)
            <div class="services col-lg-4 col-md-6 col-sm-4">
                <i class="glyphicon glyphicon-warning-sign"></i>
                <h3>1111</h3>
                <p>
                    1111
                </p>
            </div>
            @endforeach


        </div>

        <!--( C ) Some Facts -->

        <div class=" facts clearfix">
            <div class="col-xs-4">
                <h3>COMPLETED PROJECTS </h3>
                <h1>200+</h1>
            </div>
            <div class="col-xs-4">
                <h3>COMPANY LINKED</h3>
                <h1>1200+</h1>
            </div>
            <div class="col-xs-4">
                <h3>LOVE</h3>
                <h1>only 1</h1>
            </div>

        </div>

        <!--( D ) Footer -->

        {% include 'frontend/layouts/footer.html' %}
    </div>
</div>