<div class="resume-page">

    <!--( a ) Resume Page Fixed Image Portion -->

    <div class="image-container col-md-5 col-sm-12">
        <div class="mask">
        </div>
        <div class="main-heading">
            <h1>RE<span>SU</span>ME</h1>
        </div>
    </div>

    <!--( b ) Resume Page Content -->

    <div class="content-container col-md-7 col-sm-12">

        <!--( A ) Education Section -->

        <div class="education clearfix">
            <h2 class="small-heading">EDUCATION</h2>

            <div class="education-container col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0 col-sm-10 col-sm-offset-1">

                @foreach($educations as $education)
                <div class="item">
                    <div class="bullet hidden-xs">
                    </div>
                    <div class="education-content">
                        <h3>education title</h3>
                        <p>
                            education value
                        </p>
                    </div>
                </div>

                @endforeach

            </div>
        </div>

        <!--( B ) Experience Section -->

        <div class="experience clearfix">
            <h2 class="small-heading">EXPERIENCE</h2>
            <div class="experience-container col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0 col-sm-10 col-sm-offset-1">
                @foreach($experiences as $experience)
                <div class="item">
                    <div class="bullet hidden-xs">
                    </div>
                    <div class="experience-content">
                        <h3>experince title</h3>
                        <p>
                            experince value
                        </p>
                    </div>
                </div>
                @endforeach

            </div>
        </div>

        <!--( C ) Skills Section -->
        <div class="skills clearfix">
            <h2 class="small-heading">SKILLS</h2>
            <div class="clearfix circle">

                @foreach($skills as $skill)
                <div class="skill-container col-sm-4">
                    <h3>11111</h3>
                    <div class="skill" data-percent="60">
                        <span>111111</span>
                    </div>
                </div>
                @endforeach


            </div>
        </div>

        <!--( C ) Footer Section -->

        {% include 'frontend/layouts/footer.html' %}
    </div>
</div>