<div class="resume-page">

    <!--( a ) Resume Page Fixed Image Portion -->

    <div class="image-container col-md-5 col-sm-12">
        <div class="mask">
        </div>
        <div class="main-heading">
            <h1>RE<span>SU</span>ME</h1>
        </div>
    </div>

    <!--( b ) Resume Page Content -->

    <div class="content-container col-md-7 col-sm-12">

        <!--( A ) Education Section -->

        <div class="education clearfix">
            <h2 class="small-heading">EDUCATION</h2>

            <div class="education-container col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0 col-sm-10 col-sm-offset-1">

                {% for obj in educations %}
                    <div class="item">
                        <div class="bullet hidden-xs">
                        </div>
                        <div class="education-content">
                            <h3>{{ obj.label|safe }}</h3>
                            <p>
                                {{ obj.value }}
                            </p>
                        </div>
                    </div>

                {% endfor %}

            </div>
        </div>

        <!--( B ) Experience Section -->

        <div class="experience clearfix">
            <h2 class="small-heading">EXPERIENCE</h2>
            <div class="experience-container col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0 col-sm-10 col-sm-offset-1">
                {% for obj in experiences %}
                    <div class="item">
                        <div class="bullet hidden-xs">
                        </div>
                        <div class="experience-content">
                            <h3>{{ obj.label|safe }}</h3>
                            <p>
                                {{ obj.value }}
                            </p>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>

        <!--( C ) Skills Section -->
        <div class="skills clearfix">
            <h2 class="small-heading">SKILLS</h2>
            <div class="clearfix circle">

                {% for obj in experienceNumbers %}
                    <div class="skill-container col-sm-4">
                        <h3>{{ obj.label }}</h3>
                        <div class="skill" data-percent="60">
                            <span>{{ obj.value }}</span>
                        </div>
                    </div>
                {% endfor %}


            </div>
        </div>

        <!--( C ) Footer Section -->

        {% include 'frontend/layouts/footer.html' %}
    </div>
</div>