{% load static %}
<script src="{% static 'frontend/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'frontend/assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'frontend/assets/js/swipper-bundle.min.js' %}"></script>
<script src="{% static 'frontend/assets/js/jquery.meanmenu.min.js' %}"></script>
<script src="{% static 'frontend/assets/js/wow.min.js' %}"></script>
<script src="{% static 'frontend/assets/js/odometer.min.js' %}"></script>
<script src="{% static 'frontend/assets/js/jquery.modal.min.js' %}"></script>
<script src="{% static 'frontend/assets/js/appear.min.js' %}"></script>
<script src="{% static 'frontend/assets/js/main.js' %}"></script>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>