{% extends 'backend/layouts/master.html' %}
{% load static %}



{% block content %}


    <div class="content-display clearfix">
        <div class="panel">
            <div class="panel-box">
                <div class="table-responsive mt-3">
                    <div class="card custom-card">
                        <div class="card-body">
                            <div class="table-responsive">

                                <div class="text-center bold">
                                    <h1>Coming Soon.</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
